
body{
  background:#212529;
  
}

.nav-link active :hover{
  color: #6EA8FE;
 }

 .nav-link{
   color: #a6abb1;
 }

.nav-item :hover{
color: #6EA8FE;
}

h1 { 
  text-align: center;
  color: #fff;
}

h2{
  color: #fff;
}

p{
  color:#fff;
}

.image{
  width: auto;
  height: auto; 
  float: center;
  text-align: center;
  align-content: center; 
  background-color: #ADB5BD;
}

#caption{
  color:#ADB5BD;
  font-size: 15px;
  float: right;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  color: #6EA8FE;
}

h3{
  color: #fff;
}

h4{
  color: #fff;
  text-align: center;
}

#align{
  align-content: center;
  float:center;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
}

#hover{
  color:#fff;
  text-decoration-line: none;
}

#hover :hover{
  color: #6EA8FE;
}

.learn{
  color:#fff;
  text-decoration-line: none;
}

.site{
  color:#fff;
}

.filler{
height: 250px;
width:100%;
background:#ADB5BD; 
}

